#caja1{
    width:250px;
    height:250px;
    background-color: green;
    position:relative;
    top:120px;
    z-index: 5;
    float: right;

}

#caja2{
    width:50px;
    height:50px;
    background-color: orange;
    position:absolute;
    top:230px;
    left:1215px;
    z-index: 5;
    float: right;
}

#texto {
    z-index:1;
    /*clear: both*/
}